/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', sans-serif;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair);
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-inter {
  font-family: var(--font-inter);
}